*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.header img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.content {
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}
.content p {
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    margin-bottom: 20px;
}
